.popup__form-add {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    width: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 0;
}

@media screen and (max-width: 767px) {
    .popup__form-add {
        max-width: 238px;
        margin: 0 22px 0;
    }
}
